
a.boxclose{
    margin-left: -12px;
    cursor:pointer;
    line-height: 0px;
    padding: 11px 3px;    
}

.drag {
	float: left;
	width: 55px;
	margin-top: 10px;
	margin-left: 8px;
}

.drag img{
	border-radius: 800px;
}

#container-field {
	float: right;
	width:50%;
	height: 280px;	
	background  : #fff1c5  url(../img/linea.png);
	background-position: left;
	background-repeat: repeat-y;
	background-size: 5px;	
}

#container-player {
	float: left;
	width:50%;
	height: 280px;
	background: #fff1c5;
	overflow-y: auto;
}

#lock { height: 575px; width: 420px; }
#lock {
	position    : fixed;
	z-index     : 99999;
	top         : 70px;
	left        : 20px;
	overflow    : hidden;
	text-indent : 100%;
	font-size   : 0;
	opacity     : 0.6;
	background  : #E0E0E0  url(../img/locked_gif.gif) center no-repeat;
}
.drag p {
	font-size :10px;
	text-align: center;
	font-weight: bold;
}
