<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body ng-app="suscribete">
  <h1>Hello AngularJS!</h1>

  <div ng-controller="FacturaController">

    <form ng-submit="saveFactura(factura)">
      <input type="text" ng-model="factura.id">
      <br>
      <br>
      <input type="email" disabled="true" ng-model="factura.cliente">
      <br>
      <br>
      <input type="date" ng-model="factura.fecha">
      <br>
      <br>
      <button>Send</button>
    </form>

    <pre>{{ factura | json }}</pre>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

  <script>
    angular
      .module('suscribete', [])
      .controller('FacturaController', FacturaController);

    FacturaController.$inject = ['$scope', '$http'];

    function FacturaController($scope, $http) {

      $scope.factura = {
        id: 1,
        cliente: 'wim@email.com',
        fecha: new Date()
      }
      
      $scope.saveFactura =  function(fact) {
        $http({
          method: 'POST',
          url: 'link/to/save',
          data: {
            factura: fact
          }
        });
      }

    }
  </script>

</body>

</html>