<style>
	#parametrizacion_frente, #parametrizacion_posterior {
		max-width: 600px;
		width: 100%;
		height: 300px;
		background: #eee;
		border-radius: 5px;
		margin: auto;
		position: relative;
		padding: 10px;
	}
	#parametrizacion_frente [draggable], #parametrizacion_posterior [draggable] {
		display: inline-block;
		position: absolute;
		outline-color: rgb(77, 144, 254) ;
		outline-offset: -1.11111px ;
		outline-style: auto;
	}
	#parametrizacion_frente .container, #parametrizacion_posterior .container {
		overflow: hidden;
		width: 100%;
		height: 100%;
		outline-color: rgb(77, 144, 254) ;
		outline-offset: -1.11111px ;
		outline-style: auto;
	}
	#parametrizacion_posterior .container, #parametrizacion_posterior [draggable] {
		outline-color: rgb(254, 77, 175) ;
	}
	#parametrizacion_frente .herramieneta, #parametrizacion_posterior .herramieneta,
	#parametrizacion_frente .guardar, #parametrizacion_posterior .guardar {
		cursor: pointer;
		position: absolute;
		right: -20px;
		height: 30px;
		width: 30px;
		background: #8ce6fc;
		border-radius: 0 5px 5px 0;
	}
	#parametrizacion_frente .guardar, #parametrizacion_posterior .guardar  {
		top: 50px;
	}
	.add-item {
		cursor: pointer;
	}
	.form-group {
		padding: 0 15px;
	}
	.modal-dialog.modal-sm.modal-edit{
		margin: inherit;
		top: 50%;
		transform: translateY(-50%);
		left: 5%;
	}
</style>

<!-- ===========================================================================================
=========================================================================================== -->
<div id="exportar_frente">
	<div id="parametrizacion_frente">
		<div class="herramieneta">
			<span class="glyphicon glyphicon-cog"></span>
		</div>
		<div class="guardar">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</div>
		<div class="container">
			<div class="header"></div>
		</div>
	</div>
</div>
<div id="exportar_posterior">
	<div id="parametrizacion_posterior">
		<div class="herramieneta">
			<span class="glyphicon glyphicon-cog"></span>
		</div>
		<div class="guardar">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</div>
		<div class="container">
			<div class="header"></div>
		</div>
	</div>
</div>


<!-- ===========================================================================================
=========================================================================================== -->
<script>
	'use strict';

	var parametrizacion_avtive = 'parametrizacion_frente';
	var element;
	var caraCarnet = '';
	var dragables = document.querySelectorAll('.draggable');
	for (var i = dragables.length - 1; i >= 0; i--) {
		dragables[i].addEventListener('dragstart', dragstart, false);
		dragables[i].addEventListener('dragend', dragend, false);
	}

	/**
	 * @param  {[type]} ) {		$('#myModal').modal('show');	} [description]
	 * @return {[type]}   [description]
	 */
	$('#parametrizacion_frente .herramieneta').click(function() {
		parametrizacion_avtive = "parametrizacion_frente";
		$('#myModal').modal('show');
	});
	$('#parametrizacion_frente .guardar').click(function() {
		parametrizacion_avtive = "parametrizacion_frente";
		guardar_carnet('parametrizacion_frente');
	});

	/**
	 * [description]
	 * @param  {[type]} ) {		$('#myModal').modal('show');	} [description]
	 * @return {[type]}   [description]
	 */
	$('#parametrizacion_posterior .herramieneta').click(function() {
		parametrizacion_avtive = "parametrizacion_posterior";
		$('#myModal').modal('show');
	});
	$('#parametrizacion_posterior .guardar').click(function() {
		parametrizacion_avtive = "parametrizacion_posterior";
		guardar_carnet('parametrizacion_posterior');
	});


	function guardar_carnet(html) {
		$.ajax({
			type: "POST",
			url: base_url + 'index.php/SuperAdmin/guardar_cara_carnet',
			data: {html: $('#'+html).parent().html(), cara_carnet: html},
			success: function(response) {
				if(response) {
					alertify.success('Datos registrados.');
				}else {
					alertify.error('Error al guardar los datos.');
				}
				console.log(response);
			}
		});
	}

	$('.add-item').click(clone);


	/**
	 * [clone description]
	 * @return {[type]} [description]
	 */
	function clone(e) {
		console.log(this.children);
		$('#myModal').modal('hide');
		var clon = $( this.children).clone(); 
		clon.attr('draggable', true);
		clon.addClass('draggable');
		clon.appendTo( "#"+parametrizacion_avtive+" .header" );
		clon[0].addEventListener('dragstart', dragstart, false);
		clon[0].addEventListener('dragend', dragend, false);
		clon[0].addEventListener('dblclick', tools, false);
	}

	/**
	 * [tools description]
	 * @return {[type]} [description]
	 */
	function tools() {
		element = this;

		$('#toolsModal').modal('show');
		
		document.getElementById('ancho').addEventListener('input', setValue, false);
		document.getElementById('alto').addEventListener('input', setValue, false);
		document.getElementById('texto').addEventListener('input', setValue, false);
		document.getElementById('tamano').addEventListener('input', setValue, false);
		document.getElementById('color').addEventListener('input', setValue, false);

		document.getElementById('aling-left').addEventListener('change', setValue, false);
		document.getElementById('aling-center').addEventListener('change', setValue, false);
		document.getElementById('aling-right').addEventListener('change', setValue, false);
		document.getElementById('aling-justify').addEventListener('change', setValue, false);

		document.getElementById('eliminar').addEventListener('click', deleteItem, false);

		function setValue(eve) {
			if(eve.target.id == 'ancho') element.style.width = eve.target.value;
			if(element.nodeName != 'IMG') {
				if(eve.target.id == 'alto') element.style.height = eve.target.value;
				if(eve.target.id == 'texto') element.innerText = eve.target.value;
				if(eve.target.id == 'tamano') element.style.fontSize = eve.target.value + 'px';
				if(eve.target.id == 'color') element.style.color = eve.target.value;

				if(eve.target.id == 'aling-left') element.style.textAlign = 'left';
				if(eve.target.id == 'aling-center') element.style.textAlign = 'center';
				if(eve.target.id == 'aling-right') element.style.textAlign = 'right';
				if(eve.target.id == 'aling-justify') element.style.textAlign = 'justify';
			} 
		}

		function deleteItem() {
			$.confirm({
				title: '',
				content: 'Eliminar elemento?',
				buttons: {
					Aceptar: function () { $(element).remove(); $('#toolsModal').modal('hide'); },
					Cancelar: function () { $('#toolsModal').modal('hide'); }
				}
			});
		}
	}

	/**
	 * [dragstart description]
	 * @return {[type]} [description]
	 */
	var _top = 0;
	var _left = 0;
	var _offset = 0;
	function dragstart(e) {
		parametrizacion_avtive = $(this).parent().parent().parent().attr('id');
		_offset = $(this).offset();
		_top = e.clientY;
		_left = e.clientX;
	}
	/**
	 * [dragend description]
	 * @return {[type]} [description]
	 */
	function dragend(e) {
		var offset = $('#'+parametrizacion_avtive).offset();

		
		var movientoH = _top + (e.clientY - _top);
		var altoH =  (_top - _offset.top);
		altoH += (e.target.nodeName == 'H1') ? 20 : 0;  
		var top = (movientoH > 0) ? ((movientoH - altoH) - offset.top): ((movientoH - altoH) + offset.top);

		var movientoV = _left + (e.clientX - _left);
		var altoV =  (_left - _offset.left);
		var left = (movientoV > 0) ? ((movientoV - altoV) - offset.left): ((movientoV - altoV) + offset.left);

		this.style.top =  top + 'px';
		this.style.left = left + 'px';
	}

</script>



<!-- Modal opciones -->
<div class="modal fade bs-example-modal-sm" id="toolsModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm modal-edit" role="document">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
    	<div class="row">
	      <div class="col-xs-12">
	      	<div class="form-group">
	      		<label>Alinieación</label>
	      		<div class="row">
	      			<div class="col-xs-3 text-center">
	      				<label>
	      					<span class="glyphicon glyphicon-align-left"></span>
	      					<input class="hidden" id="aling-left" type="checkbox">
	      				</label>
	      			</div>
	      			<div class="col-xs-3 text-center">
	      				<label>
	      					<span class="glyphicon glyphicon-align-center"></span>
	      					<input class="hidden" id="aling-center" type="checkbox">
	      				</label>
	      			</div>
	      			<div class="col-xs-3 text-center">
	      				<label>
	      					<span class="glyphicon glyphicon-align-right"></span>
	      					<input class="hidden" id="aling-right" type="checkbox">
	      				</label>
	      			</div>
	      			<div class="col-xs-3 text-center">
	      				<label>
	      					<span class="glyphicon glyphicon-align-justify"></span>
	      					<input class="hidden" id="aling-justify" type="checkbox">
	      				</label>
	      			</div>
	      		</div>
	      	</div>
	      	<div class="form-group">
	      		<label>Tamaño fuente</label>
	      		<input type="range" id="tamano" class="form-control" min="10" max="100" step="1">
	      	</div>
	      	<div class="form-group">
	      		<label>Color fuente</label>
	      		<input type="color" id="color" class="form-control">
	      	</div>
	      	<div class="form-group">
	      		<label>Alto</label>
	      		<input type="range" id="alto" class="form-control" min="10" max="600" step="5">
	      	</div>
	      	<div class="form-group">
	      		<label>Ancho</label>
	      		<input type="range" id="ancho" class="form-control" min="10" max="600" step="5">
	      	</div>
	      	<div class="form-group">
	      		<label>Texto</label>
	      		<textarea id="texto" class="form-control"></textarea>
	      	</div>
	      	<div class="form-group">
	      		<button class="btn btn-danger btn-block" id="eliminar">Eliminar</button>
	      	</div>
	      </div>
    	</div>
    </div>
  </div>
</div>




<!-- Modal campos -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<h2>Datos estudiante</h2>
				<div class="row">
					<span class="btn btn-default col-xs-4 add-item"><span db="NumeroId">NumeroId %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="PrimerApellido">PrimerApellido %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="SegundoApellido">SegundoApellido %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="PrimerNombre">PrimerNombre %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="SegundoNombre">SegundoNombre %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="idAcudiente">idAcudiente %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="Direccion">Direccion %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="Telefono1">Telefono1 %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="Telefono2">Telefono2 %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="curso">curso %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="TipoSangre">TipoSangre %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="tipoestudiante">tipoestudiante %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="tipofuncionario">tipofuncionario %%</span></span>
					<span class="btn btn-default col-xs-4 add-item"><span db="fechanacimiento">fechanacimiento %%</span></span>
				</div>
				<div class="row">
					<span class="btn btn-default col-xs-4 add-item">
						<img db="ImagenFotografica" style="width: 60px" src="http://190.60.211.17/ssca_saas/img/www%20creacion%20ruta%20escolar.png" alt="foto">
					</span>
				</div>
				<h2>Datos extras</h2>
				<div class="row">
					<span class="btn btn-default add-item"><h1>TITULO</h1></span>
					<span class="btn btn-default add-item"><p>texto</p></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
